body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}


.prodPreviewImg{
  height: 40%;
  width: 60%;
}

.bannerImage{
  margin: 15px;
  height: 30vw;
}

.homePageContainer{
  text-align: center;
}